
* {
	margin: 0;
}

header {
	background-color: #00545c;
    
}

 h1 {
	align-items: center;
    text-align: center;
	
	padding: 1rem;
	color: #fff;
    font-weight: 700;
    height: 50px;
	justify-content: space-between;    
    width: 600px;
    
}


body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    
}

/* Form Container */
.form {
    width: 100%;
    max-width: 500px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    
    margin: 20px auto;
    display: flex;
    flex-direction: column; 
    align-items: center;
}

/* Header */
.form h2 {
    text-align: center;
    color: #3d0b38;
    font-size: 24px;
    margin-bottom: 15px;
}

/* Labels */
label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

/* Select, Input, and Textarea */

.form input[type="submit"] {
    background-color: #666;
    color: #fff;
    margin-top: 20px;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    padding: 5px;
    width: 100%;
    
}

.form input[type="text"],
.form input[type="email"],
.form input[type="number"], textarea, select{
    width: 100%;
    max-width: 600px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}




button {
    width: 100%;
    background-color: #3d0b38;
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
}

button:hover {
    background-color: #5a0f52;
}

.multi {
    margin-top: 15px;
}

footer {
    background-color: #EDEAE5;
    background: #00545c;
    padding: 1rem;
    color: #fff;
    text-align: center;
    width: 600px;
}






.card {
    width: 100%;
    max-width: 400px;
    background: #EDEAE5;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    margin: 50px;
}