* {
	margin: 0;
}


header {
	background-color: #18477C;
}

 h1 {
	align-items: center;
    text-align: center;
	
	padding: 1rem;
	color: #fff;
    font-weight: 700;
    height: 50px;
	justify-content: space-between;    
}

h2 {
	font-size: 3rem;
	margin-bottom: 1rem;
}

h1 {
	font-size:x-large ;}




#menu {
	font-size: 1.5rem;
	border: 0;
	background: none;
	color: #000;
	position: absolute;
	top: 1rem;
	right: 1rem;

}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "❌";
	
}

.navigation {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	list-style: none;
	background-color: #333;
	color: #fff;
	padding: 0;
	margin: 0;
}

.navigation a {
	display: none;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	color: #fff;
}
.navigation a:hover {
	background-color: #bbb;
	color: #333;
	font-weight: 700;
	text-decoration: underline;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "❌";
}

.open a {
	display: block;
}


