
    :root {
        --primary-color: #EDEAE5;
        --secondary-color: #00545c;
        --third-color: #FCE181;
        --background-color: #fff;
        --font-family: 'roboto', 'opensans', 'sans-serif', 'Montserrat';
        --font-main: 'montserrat';
        --font-body: 'roboto';
        --text-color: #FFFFFF;
        --font-size: 1rem;
        --font-size-large: 1.5rem;
        --font-size-small: 0.875rem;
        --border-radius: 5px;
        --box-shadow: 0 5px 30px black;
      }


    * {
        margin: 0;
    }


    header {
        background-color: var(--secondary-color);
    }

    h1 {
        align-items: center;
        text-align: center;
        
        padding: 1rem;
        color: var(--text-color);
        font-weight: 700;
        height: 50px;
        justify-content: space-between;    
    }

    h2 {
        font-size: 3rem;
        margin-bottom: 1rem;
    }

    h1 {
        font-size:var(--font-size-large) ;}




    #menu {
        font-size: 1.5rem;
        border: 0;
        background: none;
        color: var(--third-color);
        position: absolute;
        top: 1rem;
        right: 1rem;

    }

    #menu::before {
        content: "☰";
    }

    #menu.open::before {
        content: "❌";
        
    }

    .navigation {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        list-style: none;
        background-color: var(--secondary-color);
        color: var(--text-color);
        padding: 0;
        margin: 0;
    }

    .navigation a {
        display: none;
        padding: 1rem;
        text-align: center;
        text-decoration: none;
        color: var(--text-color);
    }
    .navigation a:hover {
        background-color: var(--secondary-color);
        color: var(--third-color);
        font-weight: 700;
        text-decoration: underline;
    }

    #menu::before {
        content: "☰";
    }

    #menu.open::before {
        content: "❌";
    }

    .open a {
        display: block;
    }
    footer {
        background:var(--secondary-color);
        padding: 2rem;
        text-align: center;
        font-family: var(--font-body);
        color: var(--text-color)
    }

    
    .sociallinks a {
        display: inline-block; 
      }
      
      .sociallinks a::after {
        content: ""; 
      }


      .hero {
        position: relative;
        width: 100%;
        height: 100vh; 
        overflow: hidden;
        
      }
      
      .hero video {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        object-fit: cover;
      }
      
      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.25);
      }
      
      .hero-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        text-align: center;
       
      }

      .hero p {
        margin-top: 25px;
      }





      .what-is-fpv {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 10px;
        margin-top: 50px;
        margin-bottom: 50px;
        text-align: center;
        background-color:var(--primary-color);
        border: 1px solid #ddd;
        border-radius: 8px;
        font-size: small;
        box-shadow: var(--border-radius);
      }
      .what-is-fpv h2{
        font-size: large;
      }

      .what-is-fpv p {
        font-size: small;
      }

      .what-is-fpv img, video {
        width: 50vw;
        height: auto;
      }
      

      .card2 {
        margin-left: 25px;
        margin-right: 25px;
      }

    




      .articles {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      figure {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem;
       
     
        border-radius: 20px;
    
        width: 65%;
        height: auto;
        margin-bottom: 3rem;
        background-color: var(--primary-color);
    }
    
    figcaption {
        font-size: x-large;
        font-weight: bold;
    }
    
    figure p {
        font-size: medium;
    }
    
    figure img {
        width: 250px;
        height: 150px;
        border-radius: 10px;
        object-fit: cover;
    }
    
    figure .label {
        font-size: large;
        font-weight: bold;
    
    }


.form {
    background: var(--primary-color);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 500px;
    
    margin: 2rem auto;
}

.form h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: var(--secondary-color);
}

.form1 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%; 
}

fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

label {
    font-size: 1rem;
    font-weight: 500;
    color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100%;
}

input, textarea {
    
    max-width: 100%;
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    transition: all 0.3s ease;
}

input:focus, textarea:focus {
    border-color: var(--third-color);
    box-shadow: 0 0 8px rgba(252, 225, 129, 0.5);
    outline: none;
}

textarea {
    min-height: 100px;
    
}

input[type="submit"] {
    background: var(--secondary-color);
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    border: none;
    width: 100%; 
    padding: 0.8rem;
}

input[type="submit"]:hover {
    background: var(--third-color);
    color: var(--secondary-color);
}

@media (max-width: 650px) {


    input, textarea {
        width: calc(100% - 1.2rem); 
    }
}



    footer {
        background:var(--secondary-color);
        padding: 2rem;
        text-align: center;
        font-family: var(--font-body);
        color: var(--text-color);
        display: flex;
        flex-direction: column;
    }

    footer nav {
        position: relative;
        
    }

    .sociallinks a {
        display: inline-block; 
      }
      
      .sociallinks a::after {
        content: ""; 
      }
