body {
    
    color: black;
    background-color: #fff;
    margin: 0;
    padding: 20px;
    font-family: 'roboto';
}
.container {
    width: 80%;
    margin: auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1, h2 {
    color: #026670;
    font-family: 'montserrat';
}

h2:hover {
    color: #FCE181;
}
ul {
    list-style-type: square;
}


