* {
	margin: 0;
}

header {
	background-color: #18477C;
}

 h1 {
	align-items: center;
    text-align: center;
	
	padding: 1rem;
	color: #fff;
    font-weight: 700;
    height: 50px;
	justify-content: space-between;    
}


h1 {
	font-size:x-large ;}



main {
    margin-top: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
	width: 100%;
  }

  h2 {
	text-align: center;
  }

  figcaption {
	text-align: center;
  }

footer {
    background: #18477C;
    padding: 2rem;
    text-align: center;
    grid-column: 1 / 4;
    color: #fff;
}


/* smal view navigation */
#menu {
	font-size: 1.5rem;
	border: 0;
	background: none;
	color: #000;
	position: absolute;
	top: 1rem;
	right: 1rem;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "❌";
}

.navigation {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	list-style: none;
	background-color: #333;
	color: #fff;
}

.navigation a {
	display: none;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	color: #fff;
}
.navigation a:hover {
	background-color: #bbb;
	color: #333;
	font-weight: 700;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "❌";
}

.open a {
	display: block;
}



img {
	width: 100%;
	height: auto;
	margin: .5rem;
	border-radius:10%;
}