body {
    font-family: "Roboto", serif;
    
}

header, main, footer {
    max-width: 640px;
    margin: .5rem auto;
    border: 1px solid #000000;
    padding: .5rem;
    background-color: rgb(111, 181, 221);
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
  }

section {
    padding: .5rem;
    background-color: white;
   
}
